a{
    text-decoration: none;
    color: white;
}
.header-container{
    display: flex;
    flex-direction: column;
    .header{
        padding: 1rem;
        background: rgb(8, 8, 8);
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 7px;
        .title{
            font-size: 1.6rem;

        }
    }
    .nav{
        padding: 0.4rem 11%;
        display: flex;
        align-items: center;
        gap: 3%;
        background: rgb(48, 45, 45);
        font-size: 0.9rem;
        a{
            padding-right:3%;
            border-right: solid 1px grey;
        }
    }
    .home{
        height: 1rem;
    }
}