.item-page{
    background: rgb(229, 226, 226);
    padding: 2rem ;
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: 180px 180px;
    min-height: 100vh;
    gap: 30px;
    .img-container{
        background: white;
        border: 1px solid rgb(204, 202, 202);
        border-radius: 7px;
        grid-row: 1 / -1;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 300px
        }
    }
    .info{
        display: flex;
        flex-direction: column;
        padding: 1.4rem;
        .name{
            color: rgb(105, 104, 104);
            font-size: 1.2rem;
            margin-bottom: 1rem;

        }
        .discount{
            font-size: 0.7rem;
            color: rgb(243, 29, 29);
            margin-bottom: 2px;
        }
        .prev-price{
            font-size: 0.7rem;
            color: rgb(105, 104, 104);
            margin-bottom: 2px;
            text-decoration: line-through;
        }
        .price{
            font-size: 1rem;
        }
        button{
            margin-top: 5px ;
            background: rgb(255, 217, 0);
            align-self: flex-end;
        }
        
    }
    .description{
        font-size: 0.8rem;
        padding: 1rem;
        border-top: 1px solid rgb(204, 202, 202);
    }
}
@media screen and (min-width:1200px ) {
    .item-page{
     padding: 1rem 15%;
    }
   }
@media screen and (max-width:700px ) {
    .item-page{
        gap:5px;
       padding: 1rem 7px;
       grid-template-columns: auto;
    }
   }
